@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*{
box-sizing: border-box; 
font-family: "raleway","sans-serif";

}


a{   
color:black;
text-decoration: none;
}

nav{
display: flex;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
}

@media (min-width:768px){
    nav a:hover{
    border-top: 3px solid #0065fc;
    }
}

nav a{
    padding: 15px;
}

#logo{
    margin-right: auto;
    padding: 0 10px;
}

@media (max-width:768px){
    .menu{
    display: flex;
    width:100%;
    ;
}
    .menu a{
    width:50%;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
    }

    .menu a:hover{
        border-bottom: 3px solid #0065fc;
   
}
    #logo{
        margin: auto;
    }
}

.formulaire{
    display: flex;

}
.formulaire i{
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px ;
}

.formulaire input{
  padding-right: 20px;
  border: 1px solid #f2f2f2;
}

.formulaire input::placeholder{
font-weight: bold;
font-size: 15px;

}

.formulaire button{
background-color: #0065fc;
color: white;
border-radius: 0px 10px 10px 0px ;
font-weight: bold;
font-size: 15px;
padding: 0px 15px;
border: none;
cursor: pointer
}

h1 {
margin-bottom: 0.1px;
}

p {
    margin-bottom: 7px;
}




